@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
img {
  cursor: pointer;
}

.flex-div {
  display: flex;
  align-items: center;
}

nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-right img {
  width: 25px;
  margin-right: 20px;
}
.nav-right .user-icon {
  width: 30px;
  border-radius: 50%;
  margin-right: 0;
}

.nav-left .menu-icon {
  width: 25px;
  margin-right: 25px;
}
.nav-left .logo {
  width: 130px;
}

.nav-middle .mic-icon {
  width: 16px;
}

.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}

.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}
.nav-middle .search-box img {
  width: 15px;
}

/* SIDEBAR */
.sidebar {
  background: #fff;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-left: 2%;
  padding-top: 80px;
}
.shortcut-links a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
}

.shortcut-links a:first-child {
  color: #ed3833;
}
.shortcut-links a img {
  width: 20px;
  margin-right: 20px;
}

.sidebar hr {
  border: 0;
  width: 85%;
  height: 1px;
  background: #ccc;
}

.subscriber-list h3 {
  font-size: 13px;
  margin: 15px 0;
  color: #5a5a5a;
}
.subscriber-list a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
}

.subscriber-list a img {
  width: 25px;
  border-radius: 50%;
  margin-right: 20px;
}

.small-sidebar {
  width: 5%;
}

.small-sidebar a p {
  display: none;
}
.small-sidebar h3 {
  display: none;
}

.small-sidebar hr {
  width: 50%;
  margin-bottom: 25px;
}

/* CONTAINER */
.container {
  background: #f9f9f9;
  padding: 20px 2% 20px 17%;
}
.large-container {
  padding-left: 7%;
}

.banner {
  width: 100%;
}
.banner img {
  width: 100%;
  border-radius: 8px;
}

.list_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 15px;
}

.vid-list .thumbnail {
  width: 100%;
  border-radius: 5px;
}

.vid-list .flex-div {
  align-items: flex-start;
  margin-top: 7px;
}

.vid-list .flex-div img {
  width: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

.vid-info {
  color: #5a5a5a;
  font-size: 13px;
}

.vid-info a {
  color: #000;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

/* PLAYER PAGE */

.play-container {
  padding-left: 2%;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.paly-video {
  flex-basis: 69%;
}

.paly-video video {
  width: 100%;
}
.right-sidebar {
  flex-basis: 30%;
}

.side-video-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.side-video-list img {
  width: 90%;
}

.side-video-list .small-thumbnail {
  flex-basis: 49%;
}
.side-video-lis .vid-info {
  flex-basis: 49%;
}
.paly-video .tags a {
  color: #0000ff;
  font-size: 13px;
}

.paly-video h3 {
  font-weight: 600;
  font-size: 22px;
}

.paly-video .play-video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
  color: #5a5a5a;
}
.paly-video .play-video-info a {
  display: inline-flex;
  align-items: center;
  margin-left: 15px;
}
.paly-video .play-video-info a img {
  width: 20px;
  margin-right: 8px;
}

.paly-video hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

.publisher {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.publisher div {
  flex: 1;
  line-height: 18px;
}
.publisher div p {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
.publisher div span {
  font-size: 15px;
  color: #5a5a5a;
}
.publisher button {
  background: #ed3833;
  color: #fff;
  padding: 8px 13px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
}

.publisher img {
  width: 40px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
}

.vid-description {
  padding-left: 60px;
  margin: 15px 0;
}
.vid-description p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #5a5a5a;
}
.vid-description h4 {
  font-size: 14px;
  color: #5a5a5a;
  margin-top: 15px;
}

.add-comment {
  display: flex;
  align-items: center;
  margin: 13px 0;
}
.add-comment img {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}
.add-comment input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-top: 10px;
  background: transparent;
}
.list-comment {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.list-comment img {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}
.list-comment h3 {
  font-size: 14px;
  margin-bottom: 2px;
}
.list-comment h3 span {
  font-size: 12px;
  color: #5a5a5a;
  font-weight: 500;
  margin-left: 8px;
}
.list-comment .comment-action {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 14px;
}
.list-comment .comment-action img {
  border-radius: 0;
  width: 20px;
  margin-right: 5px;
}
.list-comment .comment-action span {
  margin-right: 20px;
  color: #5a5a5a;
}
.list-comment .comment-action a {
  color: #0000ff;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
  .menu-icon {
    display: none;
  }
  .sidebar {
    display: none;
  }

  .container,
  .large-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .nav-right img {
    display: none;
  }

  .nav-right .user-icon {
    display: block;
    width: 30px;
  }

  .nav-middle .search-box input {
    width: 100px;
  }
  .nav-middle .mic-icon {
    display: none;
  }

  .logo {
    width: 80px;
  }
}

@media (max-width: 900px) {
  .paly-video {
    flex-basis: 100%;
  }
  .right-sidebar {
    flex-basis: 100%;
  }
  .play-container {
    padding-left: 5%;
  }

  .vid-description {
    padding-left: 0;
  }

  .paly-video .play-video-info a {
    margin-left: 0;
    margin-right: 15px;
    margin-top: 15px;
  }
}
