@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
img {
  cursor: pointer;
}

.flex-div {
  display: flex;
  align-items: center;
}

nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-right img {
  width: 25px;
  margin-right: 20px;
}
.nav-right .user-icon {
  width: 30px;
  border-radius: 50%;
  margin-right: 0;
}

.nav-left .menu-icon {
  width: 25px;
  margin-right: 25px;
}
.nav-left .logo {
  width: 130px;
}

.nav-middle .mic-icon {
  width: 16px;
}

.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}

.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}
.nav-middle .search-box img {
  width: 15px;
}

/* SIDEBAR */
.sidebar {
  background: #fff;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-left: 2%;
  padding-top: 80px;
}
.shortcut-links a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
}

.shortcut-links a:first-child {
  color: #ed3833;
}
.shortcut-links a img {
  width: 20px;
  margin-right: 20px;
}

.sidebar hr {
  border: 0;
  width: 85%;
  height: 1px;
  background: #ccc;
}

.subscriber-list h3 {
  font-size: 13px;
  margin: 15px 0;
  color: #5a5a5a;
}
.subscriber-list a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
}

.subscriber-list a img {
  width: 25px;
  border-radius: 50%;
  margin-right: 20px;
}

.small-sidebar {
  width: 5%;
}

.small-sidebar a p {
  display: none;
}
.small-sidebar h3 {
  display: none;
}

.small-sidebar hr {
  width: 50%;
  margin-bottom: 25px;
}

/* CONTAINER */
.container {
  background: #f9f9f9;
  padding: 20px 2% 20px 17%;
}
.large-container {
  padding-left: 7%;
}

.banner {
  width: 100%;
}
.banner img {
  width: 100%;
  border-radius: 8px;
}

.list_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  margin-top: 15px;
}

.vid-list .thumbnail {
  width: 100%;
  border-radius: 5px;
}

.vid-list .flex-div {
  align-items: flex-start;
  margin-top: 7px;
}

.vid-list .flex-div img {
  width: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

.vid-info {
  color: #5a5a5a;
  font-size: 13px;
}

.vid-info a {
  color: #000;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .menu-icon {
    display: none;
  }
  .sidebar {
    display: none;
  }

  .container,
  .large-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .nav-right img {
    display: none;
  }

  .nav-right .user-icon {
    display: block;
    width: 30px;
  }

  .nav-middle .search-box input {
    width: 100px;
  }
  .nav-middle .mic-icon {
    display: none;
  }

  .logo {
    width: 80px;
  }
}
