@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
img {
  cursor: pointer;
}

.flex-div {
  display: flex;
  align-items: center;
}

nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #fff;
  position: static;
  top: 0;
  z-index: 10;
}

.nav-right img {
  width: 25px;
  margin-right: 20px;
}
.nav-right .user-icon {
  width: 30px;
  border-radius: 50%;
  margin-right: 0;
}

.nav-left .menu-icon {
  width: 25px;
  margin-right: 25px;
}
.nav-left .logo {
  width: 130px;
}

.nav-middle .mic-icon {
  width: 16px;
}

.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}

.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}
.nav-middle .search-box img{
    width: 15px;
}
